PORT=8000
CORS_ORIGIN=* // jahan se marzi data aie
MOnGODB_URI=mongodb+srv://usama:your-password@cluster0.yfuwrjj.mongodb.net
ACCESS_TOKEN_SECRET=USAMA_BACKEND // database me store ni kary gy
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=USAMA_NODE_BACKED //  database me store kary gy
REFRESH_TOKEN_EXPIRY=10d